body {
    background-color: #92a8d1;
    margin:25px;
}

h1 {
    color:black;
    text-align: center;
}



p {
    font: Sans-serif;
    font-size: 1.2em;
    color:hsl(190, 46%, 63%);
    text-align: center;
    padding: 5;

}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}


#profilePic{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 600px;
    width:300px;
}
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 0.5rem;
  height: 0.5rem;
}
